html(lang='nl')
    head
        title Publicatietool
        link(href="/publicatietool/bootstrap/css/bootstrap.min.css" rel="stylesheet")
        style.
            .jumbotron {
                background: url('/publicatietool/images/inntel.jpg');
                color: white;
            }


    body(style='background-color:#f8f9fa')

        .container(style='padding-top:32px')

            .jumbotron
                .text-center
                    h1.display-4 Publicatietool
                    p.lead 
                    |Voor het opstellen van standaardpublicaties. 
                    br 
                    |Makkelijk, simpel en betrouwbaar.

            .row.justify-content-center(style='margin-bottom:100px')
                .col-lg-9.col(style='background-color:white;padding-left:70px;padding-right:70px;padding-bottom:70px;padding-top:70px').rounded
                    h3 De publicaties zijn verstuurd naar je emailadres. 
                    |Niets ontvangen? Check dan je spamfolder.
                    br
                    br
                    br
                    br
                    |Suggesties, opmerkingen of wil je contact opnemen? 
                    a(href="mailto:limbonetbot@gmail.com") Klik dan hier.






