html
    head
        title Publicatietool
        link(href="/bootstrap/css/bootstrap.min.css" rel="stylesheet")
        style.
            .jumbotron {
                background: url('/images/inntel.jpg');
                color: white;
            }
            .form-row {
                padding-top: 25px;
                padding-bottom: 45px;
            }
            .form-group {
                padding-top: 25px;
                padding-bottom: 25px;
            }
            .w-100 {
                padding-top:25px;
                padding-bottom:45px;
            }
            .boxStyle {
                background-color: transparent;
                border-style: solid;
                border-width: 0px 0px 2px 0px;
                border-color: #f0f2f4;
                border-radius: 0px;
            }
            .textBoxStyle {
                background-color: transparent;
                border-style: solid;
                border-width: 0px 0px 0px 2px;
                border-color: #f0f2f4;
                border-radius: 0px;
            }

    body(style='background-color:#f8f9fa')

        .container(style='padding-top:32px')

            .jumbotron
                .text-center
                    h1.display-4 Publicatietool
                    p.lead 
                    |Voor het opstellen van standaardpublicaties. 
                    br 
                    |Makkelijk, simpel en betrouwbaar.

            .row.justify-content-center(style='margin-bottom:100px')
                .col-lg-9.col(style='background-color:white;padding-left:70px;padding-right:70px').rounded
                    form#publicatieform(action="/publicatietool/create" method="POST")
                        
                        .form-row.justify-content-center.align-items-end
                            .col-3-sm
                                label Emailadres:
                                input.boxStyle.form-control#email(type='email', name='email' placeholder='voorbeeld@zaanstad.nl' aria-describedby='emailHelp' required)
                                small.form-text.text-muted#emailHelp De publicatiebestanden worden naar dit emailadres gestuurd. 

                        
                        .form-row.justify-content-center
                            .col-4-sm(style='margin-top:32px')
                                select.boxStyle.form-control#besluittype(name='besluittype' required)
                                    option Ontwerpbestemmingsplan
                                    option Vaststelling bestemmingsplan
                            .col-sm-auto
                                label Plannaam:
                                input.boxStyle.form-control#plannaam(type='text' name='plannaam' aria-describedby='plannaamHelp' required)
                                small.form-text.text-muted#plannaamHelp Zonder 'bestemmingsplan' ervoor. 
                                                                        br
                                                                        |Dus 'Pauwenven' en niet 'bestemmingsplan Pauwenven'
                        
                        .form-row.justify-content-around.align-items-start
                            .col-md-3.col-auto
                                label Laatste gedeelte van de IMRO-code:
                                .col-auto
                                    input.boxStyle.form-control#stednummer(type='text' name='stednummer' placeholder='3837BP-0301' required)
                            .col-md-3.col-auto
                                label Verseonnummer besluit:
                                input.boxStyle.input-sm.form-control#verseonnummer(type='text' name='verseonnummer' placeholder='2019/5431' required)
                            .w-100
                            .col-md-3.col-auto
                                label Besluitdatum:
                                input.date.boxStyle.form-control#besluitdatum(type='date' name='besluitdatum' aria-describedby='besluitdatumHelp' required)
                                small.form-text.text-muted#besluitdatumHelp Klik op de juiste datum, of geef de datum in deze format: YYYY/MM/DD.
                            .col-md-3.col-auto
                                label Publicatiedatum:
                                input.date.boxStyle.form-control#publicatiedatum(type='date' name='publicatiedatum' aria-describedby='publicatiedatumHelp' required)
                                small.form-text.text-muted#publicatiedatumHelp Klik op de juiste datum, of geef de datum in deze format: YYYY/MM/DD.
                        
                        .form-group
                            label Korte omschrijving van het plan:
                            textarea.textBoxStyle.form-control#omschrijving1(name='omschrijving1' rows='8' placeholder='Het plan voorziet een planologisch kader voor de ontwikkeling van 150 woningen.' aria-describedby='omschrijving1Help' required)
                            small.form-text.text-muted#omschrijving1Help Dit moet een korte beschrijving zijn die in de eerste alinea van de publicatie komt te staan. Wat kenmerkt dit besluit? Maakt het woningbouw mogelijk? Is het een technische aanpassing?
                        
                        .form-group
                            label Omschrijving van de locatie:
                            textarea.textBoxStyle.form-control#locatie_omschrijving(name='locatie_omschrijving' rows='5' placeholder='Het plangebied wordt globaal begrensd door: de Dorpsstraat in het noorden, de Bakkerstraat in het oosten, de Kerkstraat in het zuiden en de Molenstraat in het westen.' required)
                        
                        .form-row.justify-content-center.align-items-end
                            .col-lg-5
                                label Wordt ook een (ontwerp)besluit hogere waarden bekendgemaakt?
                                select.boxStyle.form-control#hasHGW(name='hasHGW' required)
                                    option Nee
                                    option Ja
                        #optionalhasHGW    
                            .form-row.justify-content-center.align-items-end
                                .col-sm-4
                                    label Besluitdatum van het hogere waarden besluit:
                                    input.date.boxStyle.form-control#besluitdatum_HGW(required name='besluitdatum_HGW' type='date' aria-describedby='besluitdatum_HGWHelp')
                                    small.form-text.text-muted#besluitdatum_HGWHelp Klik op de juiste datum, of geef de datum in deze format: YYYY/MM/DD.
                                .w-100
                                .col
                                    label Korte omschrijving van het hogere waarden besluit:
                                    textarea.textBoxStyle.form-control#omschrijving_HGW(name='omschrijving_HGW' rows='5' required placeholder='De geluidbelasting als gevolg van het industrielawaai bedraagt op de gevel van de woning aan de Zadelstraat 14 54dB(A). Dit is hoger dan de voorkeursgrenswaarde van 50dB(A) die geldt voor nieuwe woningen. Daarom wordt voor deze woning een hogere grenswaarde vastgesteld.')

                        #optionalbesluittype1
                            .form-row.justify-content-center.align-items-end
                                .col-lg-5.VastBP
                                    label Is het bestemmingsplan bij de vaststelling gewijzigd ten opzichte van het ontwerp?
                                    select.boxStyle.form-control#hasGewijzigd(name='hasGewijzigd' required)
                                        option Nee
                                        option Ja
                                .w-100
                                .col-lg-5.VastBP
                                    label Is op dit besluit de Crisis- en Herstelwet van toepassing?
                                    select.boxStyle.form-control#hasCHW(name='hasCHW' aria-describedby='hasCHWHelp' required)
                                        option Nee
                                        option Ja
                                    small.form-text.text-muted#hasCHWHelp Voor sommige ontwikkelingen heeft de wetgever bepaald dat een bestemmingsplan automatisch onder de Chw valt.

                        #optionalbesluittype0
                            .form-row.justify-content-center.align-items-end
                                .col-lg-5
                                    label Is uit de m.e.r.-beoordeling gebleken dat er geen m.e.r.-procedure noodzakelijk is?
                                    select.boxStyle.form-control#hasMER(name='hasMER' required)
                                        option Nee
                                        option Ja
                                .w-100
                                .col-lg-5
                                    label Wordt er voor dit plan een inloop- of informatiebijeenkomst georganiseerd?
                                    select.boxStyle.form-control#hasInloop(name='hasInloop' required)
                                        option Nee
                                        option Ja
                                
                            #optionalhasInloop
                                .justify-content-center.align-items-end
                                    .col
                                        label Uitnodigingstekst voor de inloop- of informatiebijeenkomst:
                                        textarea.TextBoxStyle.form-control#omschrijving_inloop(name='omschrijving_inloop' rows='5' required placeholder='Op 1 januari 2020 wordt een inloopavond georganiseerd waar u een toelichting kunt krijgen op het plan. De avond vindt plaats van 19:00 tot 20:00 in buurtcentrum De Enthousiaste Kabouter, Dorpsstraat 101 te Zaandam')
                                                  
                            .form-row.justify-content-center.align-items-end
                                .col-auto
                                    select.boxStyle.form-control#aanhef_contactpersoon(name='aanhef_contactpersoon' required)
                                        option dhr.
                                        option mevr.
                                .col-sm-auto
                                    label Contactpersoon voor vragen en mondelinge zienswijzen:
                                    input.boxStyle.form-control#contactpersoon(name='contactpersoon' type='text' placeholder='J. de Vries' required)

                            .form-row.justify-content-center
                                .col-lg-6.col-auto
                                    label Wanneer is de contactpersoon bereikbaar?
                                    textarea.textBoxStyle.form-control#bereikbaarheid_contactpersoon(name='bereikbaarheid_contactpersoon' rows='2' placeholder='tussen 10:00 en 11:00, behalve op woensdagen.' required)
                        .form-row.justify-content-center
                            button(type="submit" class="btn btn-primary btn-lg") Maak publicatie
    footer
        script(src='js/formHandler.js')
        script(src='js/publicatieform.js')
        







